/*
Theme Name: Avada
Description: The Avada Website Builder is the ultimate design and creation suite. Design Anything, Build Everything, Fast. The #1 selling product of all time on ThemeForest.
Author: ThemeFusion
Theme URI: https://avada.theme-fusion.com/
Author URI: https://themeforest.net/user/ThemeFusion
Version: 7.3.1
Requires PHP: 5.6
License: Themeforest Split Licence
License URI: -
Text Domain: Avada
*/

/* Classes needed by Theme Check */
.wp-caption-text,
.gallery-caption,
.bypostauthor {
}

table{
    width: 100%;
}